#container{
width:500px;
}
h1{
    font-size: 80px;
    margin: 0;
    color:rgb(166, 53, 47);
}
button{
    width: 400px;
    margin:50px;
    height: 60px;
    font-weight: 600;
    font-size: 20px;
    color: rgb(166, 53, 47);
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0px 0px 5px black;
    background-color: rgb(253, 220, 220);
}
button:hover{
 background-color: rgb(247, 247, 247);
 cursor: pointer;
}
p{
    font-size: 50px;
    color: rgb(166, 53, 47);
}
body{
font-family: Helvetica;
background-color: rgb(249, 152, 152);
}
